<!-- banner-slider.component.html -->
<div class="mb-5">
  <swiper-container
    class="rounded-3xl shadow-md overflow-hidden"
    [pagination]="{ clickable: true }"
    autoplay="true"
    autoplay-delay="3000"
    [loop]="true"
    [speed]="600"
    [slidesPerView]="1"
    [spaceBetween]="0">

    <!-- Слайд 1 -->
    <swiper-slide class="relative">
      <img src="assets/banner1.jpg" 
           class="w-full h-48 object-cover" 
           alt="Скидка 30%">
    </swiper-slide>

    <!-- Слайд 2 -->
    <swiper-slide class="relative">
      <img src="assets/banner2.jpg" 
           class="w-full h-48 object-cover" 
           alt="Акция 2">
    </swiper-slide>

    <!-- Добавляй сколько нужно -->
  </swiper-container>
</div>