<ion-content class="bg-slate-100" style="background: #fff">
  <div class="min-h-full flex flex-col items-center justify-center px-6 text-center">
    <!-- ICON -->
    <div
      class="w-20 h-20 rounded-3xl bg-[#173A7A] text-white flex items-center justify-center text-3xl mb-6 shadow-md"
    >
      👤
    </div>

    <!-- LOGGED -->
    <ng-container *ngIf="auth.isAuthenticated(); else guest">
      <h1 class="text-xl font-bold mb-2">Вы вошли в аккаунт</h1>

      <p class="text-slate-500 mb-6">Добро пожаловать 👋</p>

      <button (click)="auth.logout()" class="!px-6 !py-3 bg-red-500 !text-white !rounded-xl">
        Выйти
      </button>
    </ng-container>

    <!-- NOT LOGGED -->
    <ng-template #guest>
      <h1 class="text-xl font-bold text-slate-900 mb-2">Профиль в разработке</h1>

      <p class="text-slate-500 text-sm mb-6 max-w-xs">У вас нет аккаунта или вы не вошли</p>

      <button (click)="goToLogin()" class="px-6 py-3 bg-[#173A7A] text-white rounded-xl mb-3">
        Войти
      </button>

      <button (click)="goToRegister()" class="px-6 py-3 border rounded-xl">Регистрация</button>
    </ng-template>
  </div>
</ion-content>
