<ion-content class="bg-slate-100">
  <div class="min-h-full flex flex-col items-center justify-center px-6 text-center">
    <!-- ICON -->
    <div
      class="w-20 h-20 rounded-3xl bg-[#173A7A] text-white flex items-center justify-center text-3xl mb-6 shadow-md"
    >
      👤
    </div>

    <!-- TITLE -->
    <h1 class="text-xl font-bold text-slate-900 mb-2">Профиль в разработке</h1>

    <!-- DESCRIPTION -->
    <p class="text-slate-500 text-sm mb-6 max-w-xs">
      В ближайшее время здесь появится личный кабинет, регистрация и история заказов
    </p>

    <!-- BUTTON -->
    <button
      class="px-6 py-3 !p-[5px] !rounded-2xl bg-[#173A7A] text-white text-sm font-semibold shadow-md active:scale-95 transition"
      routerLink="/home"
    >
      На главную
    </button>
    <a href="https://socialniy.ru/Socialniy-v0.1.apk" download class="btn"> Скачать / обновить приложение </a>
  </div>
</ion-content>
