<ion-content class="bg-slate-100" style="background: #fff">
  <div class="min-h-full flex flex-col items-center justify-center px-6 text-center">
    <!-- ICON -->
    <div class="w-20 h-20 rounded-3xl bg-[#173A7A] text-white flex items-center justify-center text-3xl mb-6 shadow-md">
      👤
    </div>

    <!-- LOGGED -->
    <ng-container *ngIf="user$|async; else guest">

      <p class="text-slate-500 mb-6">Добро пожаловать 👋
      <h2 class="text-lg font-bold mb-2">{{ (user$|async)?.name }}</h2>
      <p class="text-slate-500 mb-6">{{ (user$|async)?.phone }}</p>
        <h1 class="text-slate-500 mb-6">Количество заказов - {{ordersCount()}}</h1>
        <app-order-list class="!w-full !min-h-full !mb-6" *ngIf="auth.isAuthenticated()"></app-order-list>
      <button (click)="this.logout()" class="!px-6 !py-3 bg-red-500 !text-white !rounded-xl">
        Выйти
      </button>
    </ng-container>

    <!-- NOT LOGGED -->
    <ng-template #guest>

      <p class="text-slate-500 text-sm mb-6 max-w-xs">У вас нет аккаунта или вы не вошли</p>

      <button (click)="goToLogin()" class="!px-6 !py-3 bg-[#173A7A] text-white !rounded-xl !mb-3">
        Войти
      </button>

      <button (click)="goToRegister()" class="!px-6 !py-3 !border !rounded-xl">Регистрация</button>
    </ng-template>
    <a href="https://socialniy.ru/Socialniy-v0.2.apk" download class="btn"> Скачать / обновить приложение </a>
  </div>
</ion-content>