.card-product{
    display: flex;
    flex-direction: column;
}
.card-product-more{
    padding: 30px 10px;
}
.container_products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
